@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  display: flex;
  position: fixed;
  justify-content: center;
  overflow: visible;
  width: 100%;
  height: 7%;
  color: white;
  font-family: 'Koulen', cursive;
  letter-spacing: 2px;
  box-shadow: 0 20px 100px rgba(22, 22, 22, 0.8) inset;
}

.App-header-title {
  align-self: center;
}

.Messages-list {
  padding: 50px 0;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember>.Message-content {
  align-items: flex-end;
}

.Messages-message>.avatar {
  background-image: url(../public/images/avatar.jpg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content>.username {
  display: block;
  color: white;
  font-size: 14px;
  font-family: 'Secular One', sans-serif;
  padding-bottom: 4px;
}

.Message-content>.text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  color: white;
  font-family: 'Catamaran', sans-serif;
  background-color: #414141;
  display: inline-block;
}

.currentMember>.Message-content .text {
  background-color: #414141;
}

.Input-Container {
  display: flex;
  justify-content: center;
  height: 10%;
  box-shadow: 0 20px 100px rgba(50, 50, 50, 0.6) inset;
}

form {
  display: flex;
  width: 100%;
  max-width: 50%;
  margin: 23px auto 23px;
}

input {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #414141;
  flex-grow: 1;
}

input:focus {
  outline: none !important;
  border-radius: 0px;
  border: 3px solid #5c5c5c;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #707070;
  color: white;
  border: none;
  margin-left: 10px;
}

body {
  background-image: url(../public/images/messages-background.jpg);
  background-size: cover;
}

button:active {
  background-color: #414141;
}

* {
  margin: 0px;
}

::-webkit-scrollbar {
  width: 5px;
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #414141
}

::-webkit-scrollbar-thumb {
  background: #707070;
}